body{
    margin:0;
    overflow:hidden;
    background:#f0f0f0;
}

.topbar{
    position:fixed;
    top:0;
    width:100%;
    height:50px;

    background:#1e1e1e;
    color:white;

    display:flex;
    justify-content:space-around;
    align-items:center;

    z-index:1000;
}

.toolbar{
    position:fixed;

    top:60px;
    left:10px;

    background:white;

    padding:10px;
    border-radius:10px;

    box-shadow:0 0 10px rgba(0,0,0,.2);

    z-index:1000;
}

canvas{
    margin-top:50px;
    display:block;
}

button{
    margin:2px;
}
#gamePanel{
    position:fixed;
    top:80px;
    left:10px;
    z-index:100;
    background:white;
    padding:10px;
    border-radius:10px;
    box-shadow:0 0 10px rgba(0,0,0,.2);
}

#gamePanel h3{
    margin:5px 0;
}
